CONFIG_MD=y
CONFIG_BLK_DEV_MD=m
CONFIG_BLK_DEV_DM=m
CONFIG_DM_MIRROR=m
CONFIG_DM_ZERO=m
CONFIG_NETDEVICES=y
CONFIG_BONDING=m
CONFIG_DUMMY=y
CONFIG_WIREGUARD=m
CONFIG_NET_TEAM=m
CONFIG_MACVLAN=m
CONFIG_MACVTAP=m
CONFIG_IPVLAN=m
CONFIG_VXLAN=m
CONFIG_MACSEC=m
CONFIG_TUN=m
CONFIG_VETH=m
CONFIG_VIRTIO_NET=y
CONFIG_NET_DSA_MV88E6XXX=m
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_USB_SERIAL_OPTION=y
CONFIG_BRIDGE=m
CONFIG_BRIDGE_VLAN_FILTERING=y
CONFIG_NET_DSA=m
CONFIG_NET_DSA_TAG_OCELOT=m
CONFIG_VLAN_8021Q=y
CONFIG_VLAN_8021Q_GVRP=y
CONFIG_VLAN_8021Q_MVRP=y
CONFIG_NET_SCHED=y
CONFIG_NET_SCH_CBQ=m
CONFIG_NET_SCH_HTB=m
CONFIG_NET_SCH_HFSC=m
CONFIG_NET_SCH_PRIO=m
CONFIG_NET_SCH_MULTIQ=m
CONFIG_NET_SCH_RED=m
CONFIG_NET_SCH_SFB=m
CONFIG_NET_SCH_SFQ=m
CONFIG_NET_SCH_TEQL=m
CONFIG_NET_SCH_TBF=m
CONFIG_NET_SCH_CBS=m
CONFIG_NET_SCH_ETF=m
CONFIG_NET_SCH_TAPRIO=m
CONFIG_NET_SCH_MQPRIO=m
CONFIG_NET_SCH_INGRESS=m
CONFIG_NET_CLS_BASIC=m
CONFIG_NET_CLS_FLOWER=m
CONFIG_NET_CLS_ACT=y
CONFIG_NET_ACT_GACT=m
CONFIG_NET_ACT_MIRRED=m
CONFIG_NET_ACT_GATE=m
CONFIG_SENSORS_PWM_FAN=y
CONFIG_GPIO_SYSFS=y
CONFIG_SFP=y
CONFIG_MARVELL_PHY=y
CONFIG_MARVELL_10G_PHY=y
CONFIG_SENSORS_MCP3021=y
CONFIG_EEPROM_AT24=y
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_ACPI_CPPC_CPUFREQ=y
CONFIG_ARM_ARMADA_8K_CPUFREQ=y
CONFIG_UIO=y

# nftables

IP6_NF_MATCH_AH=m
IP6_NF_MATCH_EUI64=m
IP6_NF_MATCH_FRAG=m
IP6_NF_MATCH_HL=m
IP6_NF_MATCH_IPV6HEADER=m
IP6_NF_MATCH_MH=m
IP6_NF_MATCH_OPTS=m
IP6_NF_MATCH_RPFILTER=m
IP6_NF_MATCH_RT=m
IP6_NF_MATCH_SRH=m
IP6_NF_RAW=m
IP6_NF_SECURITY=m
IP6_NF_TARGET_HL=m
IP6_NF_TARGET_NPT=m
IP6_NF_TARGET_SYNPROXY=m
IP_NF_ARPFILTER=m
IP_NF_ARPTABLES=m
IP_NF_ARP_MANGLE=m
IP_NF_MATCH_AH=m
IP_NF_MATCH_ECN=m
IP_NF_MATCH_RPFILTER=m
IP_NF_MATCH_TTL=m
IP_NF_RAW=m
IP_NF_SECURITY=m
IP_NF_TARGET_CLUSTERIP=m
IP_NF_TARGET_ECN=m
IP_NF_TARGET_NETMAP=m
IP_NF_TARGET_REDIRECT=m
IP_NF_TARGET_SYNPROXY=m
IP_NF_TARGET_TTL=m
IP_SET=m
NETFILTER_XT_MATCH_BPF=m
NETFILTER_XT_MATCH_CGROUP=m
NETFILTER_XT_MATCH_CLUSTER=m
NETFILTER_XT_MATCH_COMMENT=m
NETFILTER_XT_MATCH_CONNBYTES=m
NETFILTER_XT_MATCH_CONNLABEL=m
NETFILTER_XT_MATCH_CONNLIMIT=m
NETFILTER_XT_MATCH_CONNMARK=m
NETFILTER_XT_MATCH_CPU=m
NETFILTER_XT_MATCH_DCCP=m
NETFILTER_XT_MATCH_DEVGROUP=m
NETFILTER_XT_MATCH_DSCP=m
NETFILTER_XT_MATCH_ESP=m
NETFILTER_XT_MATCH_HASHLIMIT=m
NETFILTER_XT_MATCH_HELPER=m
NETFILTER_XT_MATCH_IPCOMP=m
NETFILTER_XT_MATCH_IPRANGE=m
NETFILTER_XT_MATCH_L2TP=m
NETFILTER_XT_MATCH_LENGTH=m
NETFILTER_XT_MATCH_LIMIT=m
NETFILTER_XT_MATCH_MAC=m
NETFILTER_XT_MATCH_MARK=m
NETFILTER_XT_MATCH_MULTIPORT=m
NETFILTER_XT_MATCH_NFACCT=m
NETFILTER_XT_MATCH_OSF=m
NETFILTER_XT_MATCH_OWNER=m
NETFILTER_XT_MATCH_PKTTYPE=m
NETFILTER_XT_MATCH_QUOTA=m
NETFILTER_XT_MATCH_RATEEST=m
NETFILTER_XT_MATCH_REALM=m
NETFILTER_XT_MATCH_RECENT=m
NETFILTER_XT_MATCH_SCTP=m
NETFILTER_XT_MATCH_SOCKET=m
NETFILTER_XT_MATCH_STATE=m
NETFILTER_XT_MATCH_STATISTIC=m
NETFILTER_XT_MATCH_STRING=m
NETFILTER_XT_MATCH_TCPMSS=m
NETFILTER_XT_MATCH_TIME=m
NETFILTER_XT_MATCH_U32=m
NETFILTER_XT_TARGET_AUDIT=m
NETFILTER_XT_TARGET_CLASSIFY=m
NETFILTER_XT_TARGET_CONNMARK=m
NETFILTER_XT_TARGET_DSCP=m
NETFILTER_XT_TARGET_HMARK=m
NETFILTER_XT_TARGET_IDLETIMER=m
NETFILTER_XT_TARGET_LED=m
NETFILTER_XT_TARGET_MARK=m
NETFILTER_XT_TARGET_NFLOG=m
NETFILTER_XT_TARGET_NFQUEUE=m
NETFILTER_XT_TARGET_TCPMSS=m
NETFILTER_XT_TARGET_TCPOPTSTRIP=m
NETFILTER_XT_TARGET_TEE=m
NETFILTER_XT_TARGET_TPROXY=m
NETLINK_DIAG=y
NFT_COMPAT=m
NFT_CONNLIMIT=m
NFT_COUNTER=m
NFT_CT=m
NFT_DUP_IPV4=m
NFT_DUP_IPV6=m
NFT_DUP_NETDEV=m
NFT_FIB_IPV4=m
NFT_FIB_IPV6=m
NFT_FLOW_OFFLOAD=m
NFT_FWD_NETDEV=m
NFT_HASH=m
NFT_LIMIT=m
NFT_LOG=m
NFT_MASQ=m
NFT_NUMGEN=m
NFT_OBJREF=m
NFT_OSF=m
NFT_QUOTA=m
NFT_REDIR=m
NFT_REJECT=m
NFT_SOCKET=m
NFT_SYNPROXY=m
NFT_TPROXY=m
NFT_TUNNEL=m
NF_FLOW_TABLE=m
NF_FLOW_TABLE_INET=m
NF_FLOW_TABLE_IPV4=m
NF_FLOW_TABLE_IPV6=m
NF_LOG_ARP=m
NF_LOG_IPV4=m
NF_TABLES=m
NF_TABLES_ARP=y
NF_TABLES_BRIDGE=m
NF_TABLES_IPV4=y
NF_TABLES_IPV6=y
NF_TABLES_NETDEV=y
